*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;;
}
body{
    height: 100vh;
    width: 100vw;
}
@media screen and (min-width: 300px) {
    .nav{
        height: 80px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: 3px;
        border-bottom-color: white ;
    }
    .nav:hover{
        height: 100px;
        border-bottom: 3px;
        border-bottom-color: wheat ;
    }
    .navbar{
        color: white;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar:hover{
        color: black;
        height: 23px;
        width: 88px;
        background-color: white;
        border-radius: 14px;
        border-radius: 3px solid rgb(89, 85, 85);
    }
    .hero{
        height: 350px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .herocontent:hover{
        height: 300px;
        border-radius: 10px;
        width: 92%;
        /* background-image: url('https://img.freepik.com/free-psd/celestial-style-poster-template_23-2150861237.jpg?size=626&ext=jpg&ga=GA1.1.906195782.1713633078&semt=sph'); */
        background-size: cover;
    }
    section{
        height: 120px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .nand{
        height: 50px;
        width: 230px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
        border-color: #222f3d;
        background-color: aqua;
    }
    #linearButton{
        width: 96px;
        height: 40px;
        border-radius: 18px;
        font-size: 1.3rem;
        color: black;
    }
    #radialButton{
        width: 96px;
        height: 40px;
        border-radius: 18px;
        font-size: 1.3rem;
        color: black;
    }
    .copycode{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 500px;
        background-color: #b8bcc0c8;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-radius: 14px;
        border-color: black;
    }
    .content{
        height: 150px;
      background-color:white;
    }
    .content1{
        display: flex;
        justify-content: center;
        align-items: center;
      height: 120px;
      width: 93%;
      border-radius: 20px;
      font-size: 21px;
    }
    .infor{
        height: 100px;
        background-color: #042544c8;
        text-decoration: none;
        color:white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 4px;
        border-color: #323a42;
    }
    a{
        text-transform: none;
        text-decoration: none;
        font-size: large;
        color: white;
    }
    .linked:hover{
        color: black;
    }
    .footer{
        height: 70px;
        background-color: #222f3d;
        color: white;
        font-size: larger;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}